@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap'); /* Tipografía Forum */
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap'); /*Caudex*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /*Lora*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); /*Embed code*/

* {
  background: #F1EDEE;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex-grow: 1; /* Ocupa el espacio restante después del nav */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra el contenido verticalmente */
  padding-top: 10vh; /* Compensa la altura del nav */
  overflow-y: auto; /* Permite desplazamiento si el contenido es mayor que la pantalla */
}


html, body {
  /* height: 100vh;  */
  display: flex;
  flex-direction: column;
}


.contenedor-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


nav {
  height: 15h;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #F1EDEE;
  /* padding-top: 20px; */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

nav .contenedor-nav {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.izquierda {
    flex: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.foto-perfil {
    border-radius: 50%;
    width: 4.1vw;
    height: 4.1vw;
    overflow: hidden;
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.centro {
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Forum', serif;
    color: black ;
}

.logo-verificado {
    background-color: #EDEDE9;
    border-radius: 50%;
    margin-left: 10px;
    height: 15px;
    width: 15px;
}

.derecha {
    flex: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Forum', serif;
}

.derecha a {
    text-decoration: none;
    color: black;
    position: relative;
}

.derecha a.re::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #3D5467;
    transition: 0.5s ease;
}

.derecha a:hover::after {
    width: 100%;
}

.derecha a.active::after {
    width: 100%;
    background-color: #9e2a2b;
}

header {
  text-align: left;
  padding: 20px;
  width: 1080px;
  padding-top: 100px ;

  /* border-bottom: 1px solid #3d546749; */
}

header h1 {
    text-align: left;
    font-size: 55px;
    font-family: 'Lora', serif;
    color: #0f4c5c;
    margin-bottom: 40px;
    margin-left: -20px;
}

header h2 {
    text-align: left;
    font-size: 20px;
    font-family: 'Lora', serif;
    color: #0f4c5c;
}

.apartados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); /* Se adapta según el ancho */
  justify-content: center; /* Centra las tarjetas */
  gap: 30px;
  padding: 20px;
  width: 900px; /* Limita el ancho para no estirarse demasiado */
  margin: 0 auto; /* Centra el contenedor en la página */
}


.post-grid { 
  flex: 0 0 30% ;
  align-items: center ;
  box-sizing: border-box ;
}


.post {
  position: relative; /* Para que .post-info.after se posicione dentro de .post */
  overflow: hidden;
  border-radius: 10px;
  height: auto;
  width: auto;
}


.post img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease;
}

.post:hover img {
    transform: scale(1.02);
}

.post-info.activ {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}

.post-info.activ h3 {
    font-size: 18px;
    color: #F1EDEE;
    margin: 0;
    text-decoration: none;
    background: transparent;
}

.post-info.after {
  position: absolute;
  inset: 0; /* Esto es equivalente a top: 0; left: 0; right: 0; bottom: 0; */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  z-index: 10;
  border-radius: 10px;
}


.post-info.after h3 {
  background: transparent;
  font-weight: 200;
}

.post:hover .post-info.after {
    opacity: 1;
}

/* hr {
    border: none;
    height: 10px;
    background-color: #3d546749;
}  */

footer {
  width: 100%; /* Asegura que el footer ocupe todo el ancho de la pantalla */
  height: 75px; /* Mantén la altura que deseas para el footer */
  text-align: center;
  color: black;
  border-top: 1px solid #3d546749;
  position: relative;
}

footer .contenedor-footer {
  width: 90%; /* Como en el nav, ocupa un 90% del ancho */
  max-width: 1200px; /* Limita el máximo a 1200px */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-section.derecha {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.footer-section.derecha img {
  width: 30px;
  height: auto;
  max-height: 100%;
}

